@using DTO
@model List<Post>
@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_HomeLayout.cshtml";
}
@section script
{
    <script src="~/Assets/Admin/Controllers/PostController.js"></script>
}
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-left">
                        <li class="breadcrumb-item"><a href="#">Stexo</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div>
        <!-- end page-title -->
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body" style="padding:0">
                        <h4 class="mt-0 header-title">Danh sách tin tức</h4>
                        <p class="sub-title">
                            Danh sách các tin tức liên quan
                        </p>
                        <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="datatable_length">
                                        <label>
                                            <span>Hiển thị </span>
                                            @*<input type="hidden" id="txtPageSize" value="@ViewBag.PageSize">*@
                                            <select class="form-control form-control-sm" id="slPageSize">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                            <span> hàng</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="datatable_filter" class="dataTables_filter">
                                        <label>
                                            <span>Tìm kiếm:</span><input type="search" class="form-control form-control-sm" id="txtSearch" placeholder="" value="">
                                            <a href="#" class="btn btn-primary waves-effect waves-light ti-search btn-lg" id="btnSearch"></a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/Admin/Post/ThemTinTuc" class="btn btn-primary waves-effect waves-light mb-2"><i class="text-white mdi mdi-plus"></i> Thêm mới</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr>
                                                <th>Tên tin tức</th>
                                                <th>Loại tin</th>
                                                <th>Ngày tạo</th>
                                                <th>Người tạo</th>
                                                <th>Ngày sửa</th>
                                                <th>Người sửa</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.PostCategory.Name</td>
                                                    <td>@item.CreatedDate</td>
                                                    <td>@item.CreatedBy</td>
                                                    <td>@item.ModifiedDate</td>
                                                    <td>@item.ModifiedBy</td>
                                                    <td>
                                                        @if (item.Status)
                                                        {
                                                            <span class="badge badge-success">Active</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-danger">Locked</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <input type="hidden" id="hiddenID" value="" />
                                                        <a href="@Url.Action("SuaTinTuc", "Post", new { @id = item.ID })" class="mdi mdi-pencil font-20 text-primary btnEdit"></a>
                                                        <a href="#" class="mdi mdi-window-close font-20 text-danger btnDelete" data-id="@item.ID"></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-sm-12 mt-1">
                                    <p>Hiển thị @from đến @to trong số @total bản ghi</p>
                                </div>*@
                            @*<div class="col-sm-12 text-center">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.PageSize, loadPage = ViewBag.LoadPage, searchName = ViewBag.SearchName }))
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>

