@using PagedList
@using PagedList.Mvc
@using DTO
@model IPagedList<Order>

@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_HomeLayout.cshtml";
}

@section script
{
    <script src="~/Assets/Admin/Controllers/OrderController.js"></script>
}

<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-left">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Stexo</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div>
        <!-- end page-title -->
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body" style="padding:0">
                        <h4 class="mt-0 header-title">Danh sách đơn hàng</h4>
                        <p class="sub-title">
                            Danh sách các đơn hàng đã được đặt
                        </p>
                        <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="datatable_length">
                                        <label>
                                            <span>Hiển thị </span>
                                            <input type="hidden" id="txtPageSize" value="@ViewBag.PageSize">
                                            <select class="form-control form-control-sm" id="slPageSize">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                            <span> hàng</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="datatable_filter" class="dataTables_filter">
                                        <label>
                                            <span>Tìm kiếm:</span><input type="search" class="form-control form-control-sm" id="txtSearch" placeholder="" value="@ViewBag.SearchName">
                                            <a href="#" class="btn btn-primary waves-effect waves-light ti-search btn-lg" id="btnSearch"></a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-success waves-effect waves-light" id="btnExportExcel"><i class="mdi mdi-file-excel"></i> Excel</button>
                                        <button type="button" class="btn btn-danger waves-effect waves-light" id="btnExportPdf"><i class="mdi mdi-file-pdf"></i> PDF</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr>
                                                <th>Tên Khách hàng</th>
                                                <th>Ngày đặt hàng</th>
                                                <th>Tổng tiền</th>
                                                <th>Tình trạng đơn hàng</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.OrderName</td>
                                                    <td>@item.CreatedDate</td>
                                                    <td>@string.Format("{0:#,##0}", item.TotalMoney) VNĐ</td>
                                                    <td>
                                                        @switch (item.PaymentStatus)
                                                        {
                                                            case 0:
                                                                <button class="btn btn-secondary" type="button">
                                                                    <i class="fas fa-phone-slash"></i>
                                                                    Chưa xác thực
                                                                </button>
                                                                break;
                                                            case 1:
                                                                <button class="btn btn-info" type="button">
                                                                    <i class="fas fa-check-circle"></i>
                                                                    Đã xác thực
                                                                </button>
                                                                break;
                                                            case 2:
                                                                <button class="btn btn-primary" type="button">
                                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                    Đang giao hàng
                                                                </button>
                                                                break;
                                                            case 3:
                                                                <button class="btn btn-success" type="button">
                                                                    <i class="fab fa-get-pocket"></i>
                                                                    Đã thanh toán
                                                                </button>
                                                                break;
                                                            case 4:
                                                                <button class="btn btn-danger" type="button">
                                                                    <i class="ti-face-sad"></i>
                                                                    Đã hủy
                                                                </button>
                                                                break;
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="#" class="mdi mdi-information font-20 text-primary btnInfo" title="Xem chi tiết" data-toggle="modal" data-target="#myModal" data-id="@item.ID"></a>
                                                        <select class="form-control float-right slStatus" data-id="@item.ID" style="width: 80%">
                                                            <option value="-1">Chọn trạng thái</option>
                                                            <option value="0">Chưa xác thực</option>
                                                            <option value="1">Đã xác thực</option>
                                                            <option value="2">Đang giao hàng</option>
                                                            <option value="3">Đã thanh toán</option>
                                                            <option value="4">Đã hủy</option>
                                                        </select>
                                                        @if (item.PaymentStatus == 4)
                                                        {
                                                            <a href="#" class="mdi mdi-window-close font-20 text-danger btnDelete" title="Xóa đơn hàng" data-id="@item.ID"></a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mt-1">
                                @*<p>Hiển thị @from đến @to trong số @total bản ghi</p>*@
                            </div>
                            <div class="col-sm-12 text-center">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.PageSize }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:850px!important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 text-center font-weight-bold">Thông tin đơn hàng</div>
                    <div class="col-sm-12">
                        <div>Tên khách hàng: <span id="txtName"></span></div>
                        <div>Địa chỉ: <span id="txtAddress"></span></div>
                        <div>Email: <span id="txtEmail"></span></div>
                        <div>Số điện thoại: <span id="txtPhone"></span></div>
                        <div>Ngày đặt: <span id="txtCreatedDate"></span></div>
                    </div>
                    <div class="col-sm-12 mt-2">
                        <table class="table table-bordered mb-2">
                            <thead>
                                <tr>
                                    <th>Tên Sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody id="lstCart"></tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div>Tổng tiền: <span id="txtTotalMoney"></span></div>
                    </div>
                    <div class="col-sm-12">
                        <div>Lời nhắn: <span id="txtNotes"></span></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Hủy</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

